html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Noto Serif JP', serif;
    font-size: 16px;
    letter-spacing: .05em;
}

.v-sheet,
.v-container {
    color: #2B2A36;
}

.title {
    font-size: 1rem;
}

.is_jp {
    font-family: 'Noto+Serif+JP';
}

.is_en {
    font-family: 'EB Garamond', serif;
}